.cal-september{
    .div1 { grid-area: 2 / 3 / 3 / 4; }
    .div2 { grid-area: 2 / 4 / 3 / 5; }
    .div3 { grid-area: 2 / 5 / 3 / 6; }
    .div4 { grid-area: 2 / 6 / 3 / 7; }
    .div5 { grid-area: 2 / 7 / 3 / 8; }
    .div6 { grid-area: 3 / 1 / 4 / 2; }
    .div7 { grid-area: 3 / 2 / 4 / 3; }
    .div8 { grid-area: 3 / 3 / 4 / 4; }
    .div9 { grid-area: 3 / 4 / 4 / 5; }
    .div10 { grid-area: 3 / 5 / 4 / 6; }
    .div11 { grid-area: 3 / 6 / 4 / 7; }
    .div12 { grid-area: 3 / 7 / 4 / 8; }
    .div13 { grid-area: 4 / 1 / 5 / 2; }
    .div14 { grid-area: 4 / 2 / 5 / 3; }
    .div15 { grid-area: 4 / 3 / 5 / 4; }
    .div16 { grid-area: 4 / 4 / 5 / 5; }
    .div17 { grid-area: 4 / 5 / 5 / 6; }
    .div18 { grid-area: 4 / 6 / 5 / 7; }
    .div19 { grid-area: 4 / 7 / 5 / 8; }
    .div20 { grid-area: 5 / 1 / 6 / 2; }
    .div21 { grid-area: 5 / 2 / 6 / 3; }
    .div22 { grid-area: 5 / 3 / 6 / 4; }
    .div23 { grid-area: 5 / 4 / 6 / 5; }
    .div24 { grid-area: 5 / 5 / 6 / 6; }
    .div25 { grid-area: 5 / 6 / 6 / 7; }
    .div26 { grid-area: 5 / 7 / 6 / 8; }
    .div27 { grid-area: 6 / 1 / 7 / 2; }
    .div28 { grid-area: 6 / 2 / 7 / 3; }
    .div29 { grid-area: 6 / 3 / 7 / 4; }
    .div30 { grid-area: 6 / 4 / 7 / 5; }
    .div31 { grid-area: 6 / 5 / 7 / 6; }
    .div32 { grid-area: 6 / 6 / 7 / 7; }
    .div33 { grid-area: 6 / 7 / 7 / 8; }
    .div34 { grid-area: 7 / 1 / 8 / 2; }
    .div35 { grid-area: 7 / 2 / 8 / 3; }
    .div36 { grid-area: 7 / 3 / 8 / 4; }
    .div37 { grid-area: 7 / 4 / 8 / 5; }
    .div38 { grid-area: 7 / 5 / 8 / 6; }
    .div39 { grid-area: 7 / 6 / 8 / 7; }
    .div40 { grid-area: 7 / 7 / 8 / 8; }
    .div41 { grid-area: 2 / 1 / 3 / 2; }
    .div42 { grid-area: 2 / 2 / 3 / 3; }
}


/* 2020
.cal-september{
    .div1 { grid-area: 2 / 2 / 3 / 3; }
    .div2 { grid-area: 2 / 3 / 3 / 4; }
    .div3 { grid-area: 2 / 4 / 3 / 5; }
    .div4 { grid-area: 2 / 5 / 3 / 6; }
    .div5 { grid-area: 2 / 6 / 3 / 7; }
    .div6 { grid-area: 2 / 7 / 3 / 8; }
    .div7 { grid-area: 3 / 1 / 4 / 2; }
    .div8 { grid-area: 3 / 2 / 4 / 3; }
    .div9 { grid-area: 3 / 3 / 4 / 4; }
    .div10 { grid-area: 3 / 4 / 4 / 5; }
    .div11 { grid-area: 3 / 5 / 4 / 6; }
    .div12 { grid-area: 3 / 6 / 4 / 7; }
    .div13 { grid-area: 3 / 7 / 4 / 8; }
    .div14 { grid-area: 4 / 1 / 5 / 2; }
    .div15 { grid-area: 4 / 2 / 5 / 3; }
    .div16 { grid-area: 4 / 3 / 5 / 4; }
    .div17 { grid-area: 4 / 4 / 5 / 5; }
    .div18 { grid-area: 4 / 5 / 5 / 6; }
    .div19 { grid-area: 4 / 6 / 5 / 7; }
    .div20 { grid-area: 4 / 7 / 5 / 8; }
    .div21 { grid-area: 5 / 1 / 6 / 2; }
    .div22 { grid-area: 5 / 2 / 6 / 3; }
    .div23 { grid-area: 5 / 3 / 6 / 4; }
    .div24 { grid-area: 5 / 4 / 6 / 5; }
    .div25 { grid-area: 5 / 5 / 6 / 6; }
    .div26 { grid-area: 5 / 6 / 6 / 7; }
    .div27 { grid-area: 5 / 7 / 6 / 8; }
    .div28 { grid-area: 6 / 1 / 7 / 2; }
    .div29 { grid-area: 6 / 2 / 7 / 3; }
    .div30 { grid-area: 6 / 3 / 7 / 4; }
    .div31 { grid-area: 6 / 4 / 7 / 5; }
    .div32 { grid-area: 6 / 5 / 7 / 6; }
    .div33 { grid-area: 6 / 6 / 7 / 7; }
    .div34 { grid-area: 6 / 7 / 7 / 8; }
    .div35 { grid-area: 7 / 1 / 8 / 2; }
    .div36 { grid-area: 7 / 2 / 8 / 3; }
    .div37 { grid-area: 7 / 3 / 8 / 4; }
    .div38 { grid-area: 7 / 4 / 8 / 5; }
    .div39 { grid-area: 7 / 5 / 8 / 6; }
    .div40 { grid-area: 7 / 6 / 8 / 7; }
    .div41 { grid-area: 7 / 7 / 8 / 8; }
    .div42 { grid-area: 2 / 1 / 3 / 2; }
    }

*/