@mixin border() {
  border-color:$green;
  border-style:solid;

  //Mobile
  @include fluid-type(border-width, 320px, 768px, 7px, 15px);
  //Desktop
  @include fluid-type(border-width, 768px, 1440px, 15px, 20px);

}

@mixin border-small() {
  border-color:$green;
  border-style:solid;

  //Mobile
  @include fluid-type(border-width, 320px, 768px, 7px, 2.5px);
  //Desktop
  @include fluid-type(border-width, 768px, 1440px, 15px, 5px);

}
