@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i,700,700i');
body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;

}

a {
  color: $gray;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($gray, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

/*Custom*/

.green{
  color:$green;
}
.yellow{
  color:$yellow;
}
.white{
  color:white;
}
$base-divide:0.75;
$h1-divide:0.65;
h1{
  //ont-size: rem(72);
  //color: $green
  //letter-spacing: rem(8);

  //Mobile
  @include fluid-type(font-size, 320px, 768px, 20px * $h1-divide, 42px * $h1-divide);
  @include fluid-type(letter-spacing, 768px, 1400px, 2.3px * $h1-divide,  4.6px * $h1-divide);
  //Desktop
  @include fluid-type(font-size, 768px, 1400px, 42px * $h1-divide, 72px * $h1-divide);
  @include fluid-type(letter-spacing, 768px, 1400px, 4.6px * $h1-divide, 8px * $h1-divide);
  margin:0;
  text-transform:uppercase;
}
h2{
  font-weight:300;
  font-style:italic;
  //font-size: rem(36);
  //color: $green;
  //letter-spacing: rem(5);

  //Mobile
  @include fluid-type(font-size, 320px, 768px, 10px  * $h1-divide, 25px * $h1-divide);
  @include fluid-type(letter-spacing, 320px, 768px, 2.3px * $h1-divide, 4.6px * $h1-divide);
  //Desktop
  @include fluid-type(font-size, 768px, 1400px, 25px * $h1-divide, 36px * $h1-divide);
  @include fluid-type(letter-spacing, 768px, 1400px, 4.6px * $h1-divide, 5px * $h1-divide);
  margin:0;
}



h3{
  font-style:normal;
  font-weight:700;
  text-transform: uppercase;
  margin:0;
  //Mobile
  @include fluid-type(font-size, 320px, 768px, 8px * $base-divide, 16px * $base-divide);
  @include fluid-type(letter-spacing, 320px, 768px, 1px * $base-divide, 3.3px * $base-divide);
  @include fluid-type(line-height, 320px, 768px, 16px * $base-divide, 32px * $base-divide);
  //Dekstop
  @include fluid-type(font-size, 768px, 1400px, 11.5px * $base-divide, 18px * $base-divide);
  @include fluid-type(letter-spacing, 768px, 1400px, 3.3px * $base-divide, 5px * $base-divide);
  @include fluid-type(line-height, 768px, 1400px, 17.7px * $base-divide, 32px * $base-divide);
}

h4{
  font-style:normal;
  font-weight:500;
  text-transform: uppercase;
  //Mobile
  @include fluid-type(font-size, 320px, 768px, 7.75px * $h1-divide, 15.5px * $h1-divide);
  @include fluid-type(letter-spacing, 320px, 768px, 1.3px * $h1-divide, 2.7px * $h1-divide);
  //Desktop
  @include fluid-type(font-size, 768px, 1400px, 15.5px * $h1-divide, 28px * $h1-divide);
  @include fluid-type(letter-spacing, 768px, 1400px, 2.7px * $h1-divide, 5px * $h1-divide);
}

p, a{
  font-weight:300;
  color: $gray;
  font-size: rem(24);
  letter-spacing: rem(5);
  line-height: rem(48);

  //Mobile
  @include fluid-type(font-size, 320px, 768px, 8px * $base-divide, 16px * $base-divide);
  @include fluid-type(letter-spacing, 320px, 768px, 1px * $base-divide, 3.3px * $base-divide);
  @include fluid-type(line-height, 320px, 768px, 16px * $base-divide, 32px * $base-divide);
  //Dekstop
  @include fluid-type(font-size, 768px, 1400px, 11.5px * $base-divide, 18px * $base-divide);
  @include fluid-type(letter-spacing, 768px, 1400px, 3.3px * $base-divide, 5px * $base-divide);
  @include fluid-type(line-height, 768px, 1400px, 17.7px * $base-divide, 32px * $base-divide);
  &.medium-italic{
    font-weight:500;
    font-style:italic;
  }
}


blockquote{
  @extend p;
  color:$gray;
  @include fluid-type(margin-bottom, 320px, 768px, 42px, 84px);
  @include fluid-type(margin-bottom, 768px, 1400px, 84px, 150px);

  //@include fluid-type(line-height, 320px, 768px, 17px, 34px);
  //@include fluid-type(line-height, 768px, 1400px, 34px, 62px);
  footer{
    text-align:right;
    //@include fluid-type(margin-top, 320px, 768px, 17px, 34px);
    //@include fluid-type(margin-top, 768px, 1400px, 34px, 60px);
    margin-top:2vw;
  }
  cite{
    font-style:normal;
    width:100%;
  }
  &:last-child{
    margin-bottom:0;
  }
}

/*Blog Post*/
.blog-post h2{
  text-transform: none;
  font-style:normal;
  font-weight:bold;
  @include fluid-type(font-size, 768px, 1400px, 23px, 42px);
  @include fluid-type(margin-top, 768px, 1400px, 23px, 42px);
  @include fluid-type(margin-bottom, 768px, 1400px, 11.5px, 21px);
  &:nth-of-type(even){
    color:$yellow;
  }
  &:nth-of-type(odd){
    color:$green;
  }
}

.blog-post p{
    @include fluid-type(padding-bottom, 768px, 1400px, 11.5px, 21px);
    &:nth-of-type(1){
      font-weight: 500;
      font-style: italic;
    }
}
