main.blog{
  margin-top:6vw;
  header{
    padding-bottom:2vw;
  }
  article{

    background-size:100%;
    background-position: center center;
    padding:0;
    transition: all 300ms ease-in;
    margin-bottom:2vw;
    @include span-columns(6);
    @include aspect-ratio(16,7.5);
    @include omega(2n);

    a{
      position: absolute;
      height:100%;
      width:100%;
      color:white;
      top:0;
      left:0;
      padding:2vw;
      background:rgba(white,0.3);
      h2{
          @extend h2;
          font-weight:700;
          font-style:normal;
          text-transform:uppercase;
          position: absolute;
          bottom:2vw;

      }
    }
    &:hover{
        background-size:110%;
        transition: all 700ms ease-out;
        a{
          background:rgba($green,0.7);
        }
    }
    &:nth-child(2){
      @include span-columns(12);
      h2{
          @extend h1;
          font-weight:700;
          font-style:normal;

      }
    }
  }

}
