.page-template-default{
  main{
    margin-top:6vw;

    section.content{
      @include span-columns(10);
      @include shift(1);
    }
  }

}

.page-template-page-surfguide{
  main{
    margin-top:6vw;
  }
}

.page-default{
.blog-post p{
    font-style:normal;
    font-weight:300;
  }
}
