.page-template-default{
  main{
    margin-top:10vw;

    section.content{
      @include span-columns(10);
      @include shift(1);
    }
  }

}


main.surfguide{
  margin-top:10vw;
}


main.surfspot{
	margin-top:5vw;
}

.page-default{
.blog-post p{
    font-style:normal;
    font-weight:300;
  }
}
