/*Enjoy Ola */
h1.enjoy-ola{
  @include span-columns(5 of 6);

  text-transform:uppercase;
  letter-spacing:5px;
  text-align:left;

  //Mobile
  @include fluid-type(letter-spacing, 320px, 768px, 0px, 3.2px);
  @include fluid-type(line-height, 320px, 768px, 30px, 60px);
  //Desktop
  @include fluid-type(letter-spacing, 768px, 1400px, 3.2px, 5px);
  @include fluid-type(line-height, 768px, 1400px, 60px, 90px);
}

.enjoy{
  color:$green;
  //Mobile
  @include fluid-type(font-size, 320px, 768px, 38.5px, 81px);
  //Desktop large
  @include fluid-type(font-size, 768px, 1200px, 81px, 130px);
  //Desktop xL
  //@include fluid-type(font-size, 1200px, 1300px, 133px, 151px);

}
.ericeira{
  color:$yellow;
  //Mobile
  @include fluid-type(font-size, 320px, 768px, 26px, 56px);
  //Desktop large
  @include fluid-type(font-size, 768px, 1200px, 56px, 88px);
  //Desktop xl
  //@include fluid-type(font-size, 1200px, 1400px, 91px, 96px);

}
.with-us{
  color:$green;
  //Mobile
  @include fluid-type(font-size, 320px, 768px, 28px, 62px);
  //Desktop large
  @include fluid-type(font-size, 768px, 1200px, 62px, 98px);
  //Desktop xl
  //@include fluid-type(font-size, 1200px, 1400px, 96px, 104px);

}



.intro-beach{
  margin-top:6vw;
  margin-bottom:6vw;
}

/*More Link */
.more-link{

  text-align:center;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  padding-top:rem(24);
  padding-bottom:rem(16);
  transition: all 150ms ease-in;
  font-weight:700;

  //Mobile
  @include fluid-type(font-size, 320px, 768px, 16px, 31px);
  @include fluid-type(letter-spacing, 320px, 768px, 1px, 2px);
  @include fluid-type(line-height, 320px, 768px, 20px, 40px);

  //@include fluid-type(padding, 320px, 768px, 9px 2px 5.3px 2px , 18px 4px 10.6px 4px);

  //Desktop
  @include fluid-type(font-size, 768px, 1200px, 31px, 61px);
  @include fluid-type(letter-spacing, 768px, 1200px, 2px, 6px);
  @include fluid-type(line-height, 768px, 1200px, 40px, 81px);

  //@include fluid-type(padding, 768px, 1400px, 18px 4px 10.6px 4px, 27px 6px 16px 6px);
  @include border();
  &:link, &:visited{
    color:$green;
    background:white;
  }
  &:hover, &:active{
    color:white;
    background:$green;
  }
}

/*about-ola-onda*/
.about-ola-onda{
  p{
    font-weight: 500;
    font-style: italic;
  }
}

/*our-rooms*/
.rooms-01{
  margin-bottom:6vw;
}

.rooms-02{
  margin-top:3vw;
}

/*sea-the-ocean*/
section.see-the-ocean{
  display:inline-block;
  @include fill-parent();
}

h1.see-the-ocean{
  text-transform: uppercase;
  text-align:left;
  margin-bottom:0;
  @include span-columns(10);
  @include shift(1);
  //Mobile
  @include fluid-type(font-size, 320px, 768px, 26.5px, 64px);
  @include fluid-type(line-height, 320px, 768px, 20px, 44px);
  @include fluid-type(letter-spacing, 320px, 768px, 3.2px, 7.8px);
  //Desktop
  @include fluid-type(font-size, 768px, 1200px, 64px, 100px);
  @include fluid-type(line-height, 768px, 1200px, 44px, 70px);
  @include fluid-type(letter-spacing, 768px, 1200px, 7.8px, 13px);
}

figure.sea-the-ocean{


  padding-left:$gutter;
  padding-right:$gutter;

  @include bg-cover('../assets/img/see-the-ocean.jpg');
  @include span-columns(11);
  @include shift(0.5);
  @include aspect-ratio(12.5,6.5)
}

h2.sea-the-ocean{
  font-style:normal;
  color:white;

  @include span-columns(10 of 11);
  @include shift(0.5);
  //Mobile

  //Desktop
  @include fluid-type(margin-top, 768px, 1200px, 10px, 30px);

}

/*surf-the-best-waves*/
section.surf-the-best-waves{
  @include span-columns(10);
  @include shift(1);
  //Mobile
  @include fluid-type(padding-top, 320px, 768px, 30px, 60px);
  @include fluid-type(padding-bottom, 320px, 768px, 10px , 20px);
  //Dekstop
  @include fluid-type(padding-top, 768px, 1200px, 60px, 130px);
  @include fluid-type(padding-bottom, 768px, 1200px, 20px, 80px);
  header{
    @include shift(0);
  }
}

h1.surf-the-best-waves{
  //Mobile
  @include fluid-type(font-size, 320px, 768px, 31px, 64px);
  @include fluid-type(line-height, 320px, 768px, 31px, 65.5px);
  @include fluid-type(letter-spacing, 320px, 768px, 4.4px, 8.8px);
  //Desktop
  @include fluid-type(font-size, 768px, 1200px, 64px, 115px);
  @include fluid-type(line-height, 768px, 1200px, 65.5px, 118px);
  @include fluid-type(letter-spacing, 768px, 1200px, 8.8px, 15.9px);
}

.floor-surf{
  padding-top:$gutter/2;
  padding-left:$gutter/2.5;
  padding-right:$gutter/2.5;
}

a.chevron-sign{
  @include span-columns(10);
  @include shift(1);
  transition: all 150ms ease-in;
  &:link, &:visited{
    svg use#chevron{
      fill:white;
      transition: all 150ms ease-in;
    }
  }
  &:hover, &:active{
    svg use.chevron{
      fill:$green;
      transition: all 150ms ease-in;
    }
    svg text tspan{
      fill:white;
      transition: all 150ms ease-in;
    }
  }

}

/*testiomonials*/
.testimonials{
  blockquote{
    @include span-columns(10);
    @include shift(1);
  }
}


/*surf-in-ericeir*/
