header.ola-onda{
    //@include bg-cover('../assets/img/ola-onda.jpg');
}


.walk-to-the-beach{
  @include fluid-type(padding-top, 768px, 1440px, 10px, 20px);
  header{
    margin-bottom:0;
  }
  h1{
    span.meter{
      //Mobile
      @include fluid-type(font-size, 320px, 768px, 24.2px, 58.3px);
      @include fluid-type(letter-spacing, 320px, 768px, 1.5px, 2.7px);
      @include fluid-type(line-height, 320px, 768px, 40.1px, 72.2px);

      //Desktop large
      @include fluid-type(font-size, 768px, 1200px, 58.3px, 105px);
      @include fluid-type(letter-spacing, 768px, 1200px, 2.7px, 5px);
      @include fluid-type(line-height, 768px, 1200px, 72.2px, 130px);

      //Desktop xl
      @include fluid-type(font-size, 768px, 1200px, 58.3px, 105px);
    }
    span.beach{
      //Mobile
      @include fluid-type(font-size, 320px, 768px, 30px, 72.2px);
      @include fluid-type(letter-spacing, 320px, 768px, 1.5px, 2.7px);
      @include fluid-type(line-height, 320px, 768px, 25px, 72.2px);

      //Desktop
      @include fluid-type(font-size, 768px, 1400px, 72.2px, 130px);
      @include fluid-type(letter-spacing, 768px, 1400px, 2.7px, 5px);
      @include fluid-type(line-height, 768px, 1400px, 72.2px, 130px);
    }
  }
  h2{
    margin-top:1vw;
    margin-left:1vw;
    margin-bottom:1vw;
  }
  section.images{
    @include span-columns(10);
    @include shift(1);
    .content{
      display:flex;
      width:100%;
      align-items:flex-end;
    }
    .image-01{

      width: (675/1159)*100%;
    }
    .image-02{

      width: ((1159-675)/1159)*100%;
    }
  }
}
.page-template-page-ola-onda main article{
  .wrapper-11{

    @include media($small-screen){
     
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.page-template-page-ola-onda main  article.breakfast{

  .wrapper-11{
    @include media($small-screen){
      flex-direction: column;
    }
  }
  

}



section.ericeira-img{
  padding-right:$column*0.75;
  @include media($small-screen){
   padding-right:$column*0.5;
  }
}

article.world-surf-reserve{
	header.image-box{
		background-image:url('../assets/img/surf-in-ericeira.jpg');
	}
}

/*location*/
.location{
  .wrapper{
    display: flex;
    @include media($small-screen){
      display: block;
    }
    .left-4{
      @include media($small-screen){
        min-height: 400px;
      }
    }
  }
  .acf-map{
    position: absolute;
    top:0;
    left:0;
    height:85%;
    margin:0;
    border:none;
  }
  h1{
    span.minutes{
      //Mobile
      @include fluid-type(font-size, 320px, 768px, 45px, 96px);
      @include fluid-type(letter-spacing, 320px, 768px, 1.5px, 2.7px);
      @include fluid-type(line-height, 320px, 768px, 31.7px, 57.2px);

      //Desktop
      @include fluid-type(font-size, 768px, 1400px, 96px, 173px);
      @include fluid-type(letter-spacing, 768px, 1400px, 2.7px, 5px);
      @include fluid-type(line-height, 768px, 1400px, 57.2px, 103px);
    }
    span.drive{
      //Mobile
      @include fluid-type(font-size, 320px, 768px, 23.3px, 50px);
      @include fluid-type(letter-spacing, 320px, 768px, 1.5px, 2.7px);
      @include fluid-type(line-height, 320px, 768px, 15.4px, 27.7px);

      //Desktop
      @include fluid-type(font-size, 768px, 1400px, 50px, 90px);
      @include fluid-type(letter-spacing, 768px, 1400px, 2.7px, 5px);
      @include fluid-type(line-height, 768px, 1400px, 27.7px, 50px);
    }
  }
  section p{
    @include fluid-type(padding-bottom, 320px, 768px, 10px , 20px);
    @include fluid-type(padding-bottom, 768px, 1440px, 20px, 80px);
  }
}

/*sun*/
article.sun{
  background:$yellow;
  display: flex;
  @include bg-cover('../assets/svg/sun.svg');
	background-color:$yellow;
  background-position: 80% 50%;
  background-size:15%;
  @include media($small-screen){
    background-position: center;
    background-size: 50%;

  }
}
article.sea-temp{
  background:$green;
  display: flex;
  @include bg-cover('../assets/svg/water-temp.svg');
  background-position: 20% 50%;
  background-size:15%;
  padding-right:$gutter;
  @include media($small-screen){
    background-position: center;
    background-size: 50%;

  }
}

article.surf-bus{
  @include bg-cover('../assets/svg/bus.svg');
  background-position: 80% 60%;
  background-size:15%;
  background-color:white;
  @include media($small-screen){
    background-position: center;
    background-size: 50%;
    background:none;
    
  }  
}

figure.about-us-image{
  @include aspect-ratio(1,1);
  display: block;
  border-radius: 50%;
  background-size: cover;
  background-position: left center;
  @include media($small-screen){
    width: 60%;
    margin: 0 12%;
  }
}



figure.breakfast-image{
  @include aspect-ratio(1,1);
  display: block;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  width:80%;
  margin-left:10%;
  margin-right:10%;
  @include media($small-screen){
    width: 60%;
    margin: 0 12%;
  }
}

article.breakfast{
  //padding-bottom: 12vw;
  //padding-top: 14vw;
}

