header.rooms{
    @include bg-cover('../assets/img/rooms-header.jpg');
}

section.amenities{
  @include span-columns(10);
  @include shift(1);
  //Mobile
  @include fluid-type(padding-top, 320px, 768px, 30px, 60px);
  @include fluid-type(padding-bottom, 320px, 768px, 10px , 20px);
  //Dekstop
  @include fluid-type(padding-top, 768px, 1440px, 60px, 130px);
  @include fluid-type(padding-bottom, 768px, 1440px, 20px, 80px);
  ul{
    display: flex;
    padding-right:2vw;
    li{
      width:25%;
        text-align: center;
    }
  }
  svg{
    margin:0 auto;
    display: inline-block;
    max-width:8vw;
  }
  h3{
    @extend p;
    text-transform: none;
    @include fluid-type(line-height, 320px, 768px, 10px, 17px);
    @include fluid-type(line-height, 768px, 1440px, 17px, 31px);

    @include fluid-type(padding-top, 320px, 768px, 10px, 17px);
    @include fluid-type(padding-top, 768px, 1440px, 17px, 31px);
  }
}


h2.special-notice{
  @extend h2;
  @include span-columns(10);
  @include shift(1);
  background:$red;
  text-transform:none;
  color:white;
  font-weight:700;
  font-style:normal;
  padding-top:1vw;
  padding-bottom:1vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}


article.room{
  header{
    @include fluid-type(margin-bottom, 320px, 768px, 0, 0);
    @include fluid-type(margin-bottom, 768px, 1440px, 0, 0);
    p{
      @include fluid-type(margin-top, 320px, 768px, 9px, 17px);
      @include fluid-type(margin-top, 768px, 1400px, 17px, 30px);
    }
  }
  section{
    @include span-columns(10);
     @include shift(1);
     @include omega();
     .lSSlideOuter .lSPager.lSGallery li{
       background:$green;
       img{
         opacity: 1;
         transition: all 700ms $base-timing;
       }
     }
    .lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover{
      border-radius:0;
      img{
        opacity: 0.5;
      }

    }
  }
}


article.room:nth-child(odd){
  header{
    h1,h2{
      color:$green;
    }
  }
}

article.room:nth-child(even){
  header{
    h1,h2{
      color:$yellow;
    }
  }
}

section.gallery{
  @include span-columns(10);
  @include shift(1);
  display:flex;
  align-items:stretch;
  figure.main-image{
    display:block;
    background-color:$yellow;
    width:75%;
    border-right:0.4vw solid white;
    @include bg-cover('../assets/img/rooms-header.jpg');
  }
  ul{
    width:25%;
    display:block;
    li{
      @include aspect-ratio(16,10);
      background-color:$green;
      border-bottom:0.4vw solid white;
      &:first-child{
        @include bg-cover('../assets/img/room-01.jpg');
      }
      &:nth-child(2){
        @include bg-cover('../assets/img/room-02.jpg');
      }
      &:last-child{
        border-bottom:0;
        @include bg-cover('../assets/img/rooms-header.jpg');
      }
    }
  }
}


ul.prices{
  width:100%;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  margin-bottom:$base-spacing;
  margin-top:$base-spacing;
  li{
    width:30%;
    text-align:center;
    padding-bottom:$small-spacing;
    &:nth-child(even){
      //background:$green;
      border:3px solid $green;
    }
    &:nth-child(odd){
      //background:$yellow;
      border:3px solid $yellow;
    }
    p{
      font-weight:700;
      color:black;
    }
  }
}