.single-post{
  main{
    margin-top:4vw;
    img{
      display: block;
      position: relative;
      width:80%;
      height:auto;
      margin:0 auto;
      margin-bottom:2vw;
    }
  }
}
#arve main .arve-wrapper, #tinymce main .arve-wrapper{
  display: block;
  position: relative;
  width:80%;
  height:auto;
  margin:0 auto;
  margin-bottom:2vw;
}
