.single-post{
  main{
    margin-top:4vw;
    img{
      display: block;
      position: relative;
      width:80%;
      height:auto;
      margin:0 auto;
      margin-bottom:2vw;
      @include media($small-screen){
        width:100%;
      }
    }
  }
}
#arve main .arve-wrapper, #tinymce main .arve-wrapper{
  display: block;
  position: relative;
  width:80%;
  height:auto;
  margin:0 auto;
  margin-bottom:2vw;
}


.surfspot{
	.acf-map{
		border: none;
		margin-top: 50px;
		height: 500px;
	}
}
