main.surfguide{
	header.wrapper--surfguide{
		width:100%;
		margin-left: 0;
		margin-right: 0;
		@include media($small-screen){
			width: 96%;
			margin-left:2%;
			margin-right:2%;
		}
	}
	article.area-title{
		header{
	    margin-left: 0;
	    margin-bottom: 0;
		}
	}

}


article.spots{
	margin-top:30px;
	padding-top:0;
	margin-bottom: 20px;
	&:last-child{
		padding-bottom:20vh;
		@include media($small-screen){
			padding-bottom:10vh;
		}
	}
}

section.surfguide-map{
	position: relative;
  display: block;
  width: 100%;
  float: left;
}

aside.surf-map{
	@include aspect-ratio(1,2);
	width: 28%;
  height: calc(100vh - 105px);
  float: left;
	position: -webkit-sticky;
  position: sticky;
  top: 105px;
	@include media($small-screen){
		top:50vh;
		height: 50vh;
		width:100%;
		z-index:10;
	}
	.acf-map{
		height:100%;
		margin-top: 30px;
		border: none;
		@include media($small-screen){
			margin:0;
		}
	}
}

.wrapper--spots{
	width: 66%;
	margin-left:4%;
	@include media($small-screen){
		width: 96%;
		margin-left:2%;
		margin-right:2%;
		transform: translateY(-50vh);
	}
	#guide-intro{
		margin-top:34px;
	}
	article.spots{
		display: flex;
    flex-wrap: wrap;
	}
	header.image-box{
		margin-left:0;
		margin-right:0;
		width:100%;
		background-image:none;
		margin-bottom:2px;
		@include border-small();
		@include bg-cover('../assets/svg/waves.svg');

	}
	header.image-box--noborder{
		border:none;
	}
	section.meta, a.spot-link{
		float:left;
		background:$green;
		width: 50%;
    margin-left: 0;
    padding-left: 6%;
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
		h3{
			font-weight:300;
		}
		p{
			@extend h4;
			color:white;
		}
	}
	a.spot-link{
		background:$yellow;
		width:calc(50% - 2px);
		margin-left:2px;
		transition: background 200ms ease-in;
		&:hover{
			background:$green;
		}
	}
}


h4.marker-title{
	margin-bottom: 0;
	margin-top: 5px;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.gm-style-iw {
    max-height: 100px !important;
    overflow: auto !important;
}
