main.surfguide{
	header.wrapper--surfguide{
		width:100%;
		margin-left: 0;
		margin-right: 0;
		@include media($small-screen){
			width: 96%;
			margin-left:2%;
			margin-right:2%;
		}
	}
}

article.spots{
	margin-top:30px;
	padding-top:0;
	margin-bottom: 20px;
	&:last-child{
		padding-bottom:80vh;
	}
}

section.surfguide-map{
	position: relative;
  display: block;
  width: 100%;
  float: left;
}

aside.surf-map{
	@include aspect-ratio(1,2);
	width: 28%;
  height: calc(100vh - 105px);
  float: left;
	position: -webkit-sticky;
  position: sticky;
  top: 105px;
	@include media($small-screen){
		top:0;
		height: 50vh;
		width:100%;
		z-index:99;
	}
	.acf-map{
		height:100%;
		margin-top: 30px;
		border: none;
		@include media($small-screen){
			margin:0;
		}
	}
}

.wrapper--spots{
	width: 66%;
	margin-left:4%;
	@include media($small-screen){
		width: 96%;
		margin-left:2%;
		margin-right:2%;
	}
	#guide-intro{
		margin-top:34px;
	}
	header.image-box{
		margin-left:0;
		margin-right:0;
		width:100%;
		@include border-small();
	}
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.gm-style-iw {
    max-height: 100px !important;
    overflow: auto !important;
}
