@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "_core/base";
@import "../../bower_components/neat/app/assets/stylesheets/_neat-helpers";
@import "../../bower_components/neat/app/assets/stylesheets/_neat";



body{
  background:white;
  color:black;
  margin:0;
}

img

main{
  //margin-top:60px


}

.noscroll {
  overflow: hidden;
  position:fixed;
}

.wrapper{
    @include span-columns(10);
    @include shift(1);
}

.wrapper-11{
  @include span-columns(11);
  @include shift(1);
  .left-6{
      @include span-columns(6 of 11);
  }
  .right-5{
      @include span-columns(5 of 11);
  }
  .right-7{
      @include span-columns(7 of 11);
  }

  .shift-4{
    @include shift(4 of 11);
  }
}



.flex{
  display:flex;
}


section{
  position: relative;
}
main, footer{
  @include outer-container();
  @include fluid-type(max-width, 1440px, 1920px, 1200px, 1400px);
  background:white;
  position:relative;
  article{
    position:relative;
    display: inline-block;
    @include fill-parent();
    //Mobile
    @include fluid-type(padding-top, 320px, 768px, 15px, 30px);
    @include fluid-type(padding-bottom, 320px, 768px, 5px , 10px);
    //Dekstop
    @include fluid-type(padding-top, 768px, 1440px, 30px, 65px);
    @include fluid-type(padding-bottom, 768px, 1440px, 5px, 20px);
    //padding-top:rem(130);
    //padding-bottom:rem(80);

    header{
      @include span-columns(10);
      @include shift(1);
      @include omega();
      //margin-bottom:rem(110);
      @include fluid-type(margin-bottom, 320px, 768px, 15px, 30px);
      @include fluid-type(margin-bottom, 768px, 1440px, 30px, 55px);
    }

    .left-4{
      @include span-columns(4 of 10);

    }

    .left-5{
      @include span-columns(5 of 10);

    }
    .left-6{
        @include span-columns(6 of 10);

    }
    .left-9{
        @include span-columns(9 of 10);

    }
    .right-4{
        @include span-columns(4 of 10);
    }

    .right-5{
        @include span-columns(5 of 10);
    }
    .right-6{
        @include span-columns(6 of 10);
    }
  }
  p.full-width{
    @include span-columns(10);
    @include shift(1);
  }
}

footer{
  max-width:100%;
  position: relative;
}

p > a, a.email{
  position: relative;
  text-decoration: none;
  color:$gray;
  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover, &:active{
    color:$gray;
    cursor:pointer;
    &:before{
      //visibility: hidden;
      transform: scaleX(0);
    }

  }
}

@import "_parts/menu-button";
@import "_parts/nav-main-menu";
@import "_parts/intro";
@import "_parts/image-box";
@import "_parts/footer";

@import "views/default";
@import "views/home";
@import "views/ola-onda";
@import "views/rooms";
@import "views/adventures";
@import "views/surf";
@import "views/blog";
@import "views/single-post";
