nav.main-menu{
  width:100%;
  position: relative;
  z-index: 9;
  padding-bottom:0.75vw;

  .content{
    //@include outer-container();
    @include fluid-type(max-width, 1440px, 1920px, 1200px, 1400px);
    margin:0 auto;
    //max-width:100%;
    background:transparent;
    transition: background 150ms ease-in, border 150ms ease-in;

  }
  .list{
    @include span-columns(12);
    text-align:center;
  }
  ul{
    display: table;
    width:auto;
    padding-top:0.75vw;
    padding-bottom:0;
    /*temp styles*/
    //float: left;
    //margin-left: 130px;

    li{
      position: relative;
      display: table-cell;
      vertical-align: middle;
      float:none;
      font-weight:500;
      text-transform:uppercase;
      //padding-right:1vw;
      //padding-left:1vw;
      @include fluid-type(font-size, 768px, 1200px, 8px, 12px);
      @include fluid-type(letter-spacing, 768px, 1200px, 1.8px, 3.2px);
      @include fluid-type(line-height, 768px, 1400px, 18px * 1.25, 28px * 1.25);

      &:last-child{
        padding-right:0;
        a{
          &:after{
            display: none;
          }
        }
      }
      &.logo{
        @include fluid-type(max-width, 768px, 1400px, 100px, 140px);
        padding-left:1vw;
        padding-right:1.5vw;
        a{
          &:after{
            display: none;
          }
        }
      }
      a{
        transition:color 150ms ease-in;
        padding-right:1vw;
        &:after{
          content: "|";
          color:black;
          padding-left:1vw;
        }
      }
      a:link, a:visited{
        color:black;
      }
      a:hover, a:active{
        color:$green;
      }
    }
  }




}

.nav-adress{
  display: block;
  clear: both;
  //background:$green;
  section.content{
      @include fluid-type(max-width, 1440px, 1920px, 1200px, 1400px);
      margin:0 auto;
      padding-top:0;
      padding-bottom:0;
      text-align:left;
      p.adr{
        margin-left:1vw;
      }
      p, a{
        font-weight:300;
        display: inline-block;
        @include fluid-type(font-size, 768px, 1400px, 8px, 10px);
        @include fluid-type(letter-spacing, 768px, 1400px, 1.8px, 2px);
        @include fluid-type(line-height, 768px, 1400px, 18px, 22px);
        color:$green;
      }
      a{
        &:before{
          display: none;
        }
      }

  }
}






nav.main-menu.fixed{
  position: fixed;
  width:100%;
  z-index:99;
  top:0;
  background:rgba(255,255,255,0.8);
  padding-bottom:0;
  @include media($small-screen){
    background:$yellow;
  }
  .nav-adress{
    background:$green;

    section.content{
      p, a{
        color:white;
      }
    }
  }

}


nav.main-menu.fixed--later{
  transform: translateY(-100%);
  opacity: 0;
  transition: all 500ms ease-in;
  &.is-active{
    transform: translateY(0);
    opacity: 1;
  }
  @include media($small-screen){
    display: none;
  }
}

nav.main-menu{
  @include media($small-screen){
    display:block;
    height:110%;
    top:0;
    position: fixed;
    background:white;
    transform: translateX(-100%) !important;
    transition: transform 300ms ease-in;
    background:$yellow;
    .content{
        height:100%;
      }
    .list{
      @include outer-container();
    }
    ul{
      text-align:center;
      padding-top:30vw;
      @include span-columns(10);
      @include shift(1);
      li{
        float:none;

        display: block;
        &.logo{
              max-width: 200px;
              margin:0 auto;
        }
        a:after{
          display: none;
        }
        a{
          font-size:rem(21);
          line-height:rem(41);
        }
      }
    }
    .logo-small{
      opacity:1;
    }
    a:link, a:visited{
      color:black;
    }
  }

}

nav.main-menu.is-active {
  @include media($small-screen){
  transform: translateX(0) !important;
  }
}


.logged-in{
  nav.main-menu.fixed{
    top:32px;
  }
}


nav.main-menu ul ul.sub-menu{
  display: none;
  position: absolute;
  padding-left: 0;
  padding-right: 0;

  padding-bottom: 10px;
  z-index: 999;
  transform: translateX(-40%);
  height: 30px;
  width: 380%;
  clear: both;
  text-align: center;
  @include fluid-type(padding-top, 768px, 1400px, 10px, 9px);
  li{
    background:$yellow;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

nav.main-menu ul .menu-item-has-children:hover{
  ul.sub-menu{
    display: table;
    @include media($small-screen){
      display: none;
    }
  }
}
