nav.main-menu{
  width:100%;
  position: relative;
  z-index: 9;
  padding-bottom:2vw;

  .content{
    @include outer-container();
    //@include fluid-type(max-width, 1440px, 1920px, 1200px, 1400px);
    //max-width:100%;
    background:transparent;
    transition: background 150ms ease-in, border 150ms ease-in;

  }
  .list{
    @include span-columns(12);
    text-align:center;
  }
  ul{
    display: table;
    width:auto;
    padding-top:1.5vw;
    padding-bottom:0;
    /*temp styles*/
    //float: left;
    //margin-left: 130px;

    li{
      position: relative;
      display: table-cell;
      vertical-align: middle;
      float:none;
      font-weight:500;
      text-transform:uppercase;
      //padding-right:1vw;
      //padding-left:1vw;
      @include fluid-type(font-size, 768px, 1200px, 10px, 15px);
      @include fluid-type(letter-spacing, 768px, 1200px, 2px, 3.5px);
      @include fluid-type(line-height, 768px, 1400px, 32px, 41px);

      &:last-child{
        padding-right:0;
        a{
          &:after{
            display: none;
          }
        }
      }
      &:first-child{
        padding-left:1vw;
        padding-right:1vw;
        a{
          &:after{
            display: none;
          }
        }
      }
      a{
        transition:color 150ms ease-in;
        padding-right:1vw;
        &:after{
          content: "|";
          color:black;
          padding-left:1vw;
        }
      }
      a:link, a:visited{
        color:black;
      }
      a:hover, a:active{
        color:$green;
      }
    }
  }




}

.nav-adress{
  display: block;
  //background:$green;
  section.content{
      padding-top:0;
      padding-bottom:0;
      text-align:left;
      p.adr{
        margin-left:1vw;
      }
      p, a{
        font-weight:300;
        @include fluid-type(font-size, 768px, 1400px, 8px, 10px);
        @include fluid-type(letter-spacing, 768px, 1400px, 1.8px, 2px);
        color:$green;
      }
      a{
        &:before{
          display: none;
        }
      }

  }
}

nav.main-menu.fixed{
  position: fixed;
  width:100%;
  z-index:99;
  top:0;
  .content{
    @include border-small();
    border-top:0;
    border-right:0;
    border-left:0;
    background:white;
    @include fluid-type(border-width, 768px, 1400px, 2.3px, 4px);
  }
  a:link, a:visited{
    color:black;
  }


}


li.logo{
  @include fluid-type(max-width, 768px, 1400px, 112px, 167px);
}

.logo-small{
  //@include fluid-type(width, 768px, 1400px, 25%, 40%);

}

nav.main-menu.fixed{
  .logo-small{
    opacity:1;
  }
}
